<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
                <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for one_user in all_users %}
        <tr>
            <td>{{one_user.first_name}}</td>
            <td>{{one_user.last_name}}</td>
            <td>{{one_user.email}}</td>
            <td>{{one_user.created_at}}</td>
            <td>
                <a href="/read_one/{{one_user.id}}">show</a>
                <a href="/edit_one/{{one_user.id}}">edit</a>
                <a href="/delete_one/{{one_user.id}}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/" method="">
        <input type="submit" value="Add a New User">
    </form>
</body>
</html>